<?xml version="1.0"?>

<launch>

  <!-- change this argument if needed -->
  <!-- topic name that has the navsat fix msg -->
  <arg name="sub_topic" value="/ada/fix"/>

  <!-- load parameters from file -->
  <rosparam command="load" file="$(find gps_road_estimation)/params/fix_estimation.yaml" />

  <!-- run fix to odometry node -->
  <node pkg="gps_common" type="utm_odometry_node" name="fix_to_odometry">
    <!-- change input name -->
    <remap from="/fix" to="$(arg sub_topic)"/>
  </node>

  <!-- adjust gps odometry frame id -->
  <node pkg="gps_road_estimation" type="fix_gps_frame.py" name="gps_fix_frame"/>

  <!-- run gps road estimation node -->
  <node pkg="gps_road_estimation" type="map_match_node.py" name="map_matching" output="screen"/>

  <!-- this node is used just for plotting and you can comment the next line >
  <node pkg="gps_road_estimation" type="plot_mm_output.py" name="mm_output_plot" output="screen"/-->

</launch>
