<?xml version="1.0"?>

<launch>

  <node pkg="gps_road_estimation" type="map_match_node.py" name="map_matching" clear_params="true" output="screen">
    <rosparam command="load" file="$(find gps_road_estimation)/params/map_match.yaml" />
    <!-- change output name -->
    <!--remap from="" to=""/-->
  </node>

  <node pkg="gps_road_estimation" type="plot_mm_output.py" name="mm_output_plot" output="screen"/>

</launch>
